body {
  margin: 16px auto;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  max-width: 680px;
  background: beige;
}

.App {
  border-radius: 16px;
  border: 3px solid hotpink;
  padding: 16px;
  background-color: rgba(255,255,255, 0.9);
}

.workshopDetails {
  border: 3px solid salmon;
  border-radius: 16px;
  padding: 16px;
  margin: 16px auto;
}

.reviewList {
  border: 3px solid gold;
  border-radius: 16px;
  padding: 16px;
  margin: 16px auto;
}

.reviewItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newReview {
  border: 3px solid OliveDrab;
  border-radius: 16px;
  padding: 16px;
  margin: 16px auto;
}

.formControl {
  padding-bottom: 5px;
}

.formControl input,
.formControl textarea {
  width: 100%;
}
